POSTGRES_DB=gerenciador_quadras
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/gerenciador_quadras

DATABASE_HOST=localhost
DATABASE_PORT=5432